<ul class="nav nav-tabs nav-stacked" role="tablist">
  <li><%= link_to :root do %><i class="fa fa-dashboard fa-fw"></i>&nbsp;Dashboard<% end %></li>
  <li><a href="#"><i class="fa fa-user fa-fw"></i>&nbsp;Profile</a></li>
  <li><a href="#"><i class="fa fa-envelope fa-fw"></i>&nbsp;Messages</a></li>
</ul>
